<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationFrameworkSuite" parallel="none" thread-count="3">
  <test name="BDD">
    <classes>
      <class name="com.automationframework.tests.runners.CucumberTestRunner"/>
    </classes>
  </test>
  
  <listeners>
    <listener class-name="com.automationframework.tests.listeners.TestListener"/>
    <listener class-name="com.automationframework.tests.listeners.GenerateAllureHtml"/>
  </listeners>

<!--
  <test name="Non-BDD">
    <classes>
      <class name="com.automationframework.tests.tests.LoginTests"/>
    </classes>
  </test>
-->  

</suite>
